<launch>
    <!-- Command line arguments -->
    <arg name="car_x" default="0"/>
    <arg name="car_y" default="0"/>
    <arg name="car_z" default="-99.5"/>

    <arg name="cam1" default="false"/>
    <arg name="cam2" default="false"/>

    <!-- Continue off of empty_underwater_world.launch (which creates an empty world we can spawn our car in) -->
    <include file="$(find nautilus_worlds)/launch/empty_underwater_world.launch"/>
    <include file="$(find nautilus_worlds)/launch/nautilus.launch">
        <arg name="cam1" value="$(arg cam1)"/>
        <arg name="cam2" value="$(arg cam2)"/>
    </include>

    <!-- Spawn our model -->
    <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-sdf -x $(arg car_x) -y $(arg car_y) -z $(arg car_z) -model subway_car -database subway_car"/>
</launch>