.image {
  height: 100%;
  position: absolute;
  top: 0;
}

.camera {
  height: 100%;
}

.ros-camera-buttons {
  display: relative;
  margin-left: 20px;
}

.rotate-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

.channels {
  display: relative;
  margin-left: 10px;
}
