.widget-window {
  vertical-align: text-top;
  display: inline-block;
  height: 100%;
  position: relative;
}

.widget-content {
  overflow: auto;
  width: 100%;
  height: calc(100% - 30px);
}

.window-wrapper {
  vertical-align: text-top;
  display: inline-block;
  height: 100%;
  position: relative;
}

.drag-section-right {
  width: 10px;
  height: calc(100% - 30px);
  background: darkgrey;
  position: absolute;
  top: 30px;
  right: 0px;
  z-index: 100;
}
.drag-section-right:hover {
  cursor: col-resize;
}

.drag-section-bottom {
  width: 100%;
  height: 10px;
  background: darkgrey;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
}

.drag-section-bottom:hover {
  cursor: row-resize;
}

.tab-section {
  position: relative;
  height: 30px;
  width: 100%;
  background: #c0ab66;
}

.widget-tab {
  position: relative;
  display: inline-block;
  line-height: 30px;
  border-bottom: 30px solid #f0dba6;
  background-color: #f0dba6;
  height: 0;
  width: 130px;
  border-radius: 9px 9px 0 0;
  text-align: center;
  min-width: 0;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.widget-tab-focused {
  position: relative;
  border-bottom: 30px solid #eeeeee;
  z-index: 6;
}

.widget-tab:before,
.widget-tab:after,
.widget-tab a:before,
.widget-tab a:after {
  position: absolute;
  bottom: -30px;
}

.widget-tab:last-child:after,
.widget-tab:last-child a:after,
.widget-tab:first-child:before,
.widget-tab:first-child a:before,
.widget-tab-focused:after,
.widget-tab-focused:before,
.widget-tab-focused a:after,
.widget-tab-focused a:before {
  content: "";
}

.widget-tab-focused:before,
.widget-tab-focused:after {
  background: white;

  /* Squares below circles */
  z-index: 4;
}

.widget-tab:before,
.widget-tab:after {
  background: #f0dba6;
  width: 6px;
  height: 5px;
}

.widget-tab:before {
  left: -5px;
}

.widget-tab:after {
  right: -5px;
}

.widget-tab a:before,
.widget-tab a:after {
  width: 9px;
  height: 9px;
  /* Circles are circular */
  border-radius: 4.5px;
  background: #c0ab66;

  /* Circles over squares */
  z-index: 5;
}

.widget-tab-focused a:before {
  background: #f0dba6;
}

.widget-tab-focused a:after {
  background-color: #f0dba6;
}

.widget-tab:first-child.widget-tab-focused a:before {
  display: flex;
  background: #c0ab66;
}

.widget-tab.widget-tab:first-child.widget-tab-focused:before {
  display: flex;
  background: #eeeeee;
}

.widget-tab:last-child.widget-tab-focused a:after {
  background: #c0ab66;
}

.widget-tab:first-child a:before {
  background: #c0ab66;
}

.widget-tab:first-child:before {
  background-color: #f0dba6;
}

.widget-tab-focused:before,
.widget-tab-focused:after {
  background-color: white;
  z-index: 4;
}

.grouped-tabs {
  display: flex;
  margin-left: 20px;
}

.widget-tab-focused:after,
.widget-tab-focused:before {
  background-color: #eeeeee;
}

.widget-tab a:before {
  left: -9px;
}
.widget-tab a:after {
  right: -9px;
}

.widget-tab a {
  display: inline-block;
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
