.react-grid-item {
  background: #b7a57a;
  border-radius: 5px;
}

.widget-tab-header {
  color: white;
  font-weight: bold;
  width: 100%;
  height: 30px;
  padding: 6px 10px;
  background-color: #4b2e83;
}

.widget-tab-header > span {
  cursor: pointer;
}

.widget-content {
  overflow: auto;
  width: 100%;
  height: calc(100% - 30px);
}

.tab-exit-button {
  position: absolute;
  right: 10px;
}
