


.widgetDisplay {
   width: 100%;
   height: 60%;
   background: #cccc99;
}

.widgetWindow {
   display: inline-block;
   position: relative;
   height: 100%;
   width: 50%;
}

.widgetTab {
   display: inline-block;
   position: relative;
   background: #773344;
   height: 25px;
   width: 100px;
}
