.gui {
  width: 100%;
  height: 100%;
  background: #abbb99;
}

/* CSS for Widget Display Modules */
.widgetDisplay {
  width: 100%;
  height: calc(100% - 80px);
  background: #f2f2f2;
  line-height: 1.2;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.widgetWindow {
  display: inline-block;
  position: relative;
}

.widgetTab {
  display: inline-block;
  position: relative;
  background: #773344;
  height: 25px;
  width: 100px;
}

.widget {
  background: #c7acd2;
}

.widgetContent {
  background: #595595;
  height: calc(100% - 25px);
  width: 100%;
  overflow: hidden;
}
