<?xml version="1.0" ?>
<model>
    <name>Subway Car</name>
    <version>0.0.1</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Peter Gunarso</name>
        <email>gunarp@cs.washington.edu</email>
    </author>
    <description>Test colony with dead and bleached areas</description>
</model>