body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.settings-widget {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  position: relative;
}

.single-setting {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 10%;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.single-setting:hover {
  background-color: #c4c4c4;
}

.sidebar {
  height: 100%;
  width: 30%;
  border-right: solid black 2px;
  background-color: #eaeaea;
}

.settings-title-window {
  border-bottom: 2px solid black;
  height: 10%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.settings-title {
  position: absolute;
  top: 0;
  display: inline-block;
  margin-top: 15%;
  text-align: left;
  color: black;
  font-weight: bold;
}

.generalSettings {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-weight: bold;
  margin-left: 0.5px;
  height: 100%;
  background-color: #fcfcfc;
}

.options {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
}

.settings-title {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.settings-icon {
  margin: 10% 2%;
  width: 15%;
}

.options-icons {
  width: 10%;
  margin-left: 2%;
  margin-right: 4%;
}

.options-names {
  display: inline;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 500;
  margin-left: 5%;
}

.options-wrapper {
  padding: 5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

.true {
  background-color: #c4c4c4;
}
