<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Center of buoyancy -->
    <xacro:property name="nautilus_cob" value="0 0 0.3"/>

    <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
    <xacro:property name="nautilus_volume" value="0.0221225364"/>
    <!-- <xacro:property name="nautilus_volume" value="1.83826"/> -->

    <!-- Describing the dimensions of the vehicle's bounding box -->
    <xacro:property name="nautilus_length" value="0.381"/>
    <xacro:property name="nautilus_width"  value="0.2286"/>
    <xacro:property name="nautilus_height" value="0.254"/>
    <xacro:property name="cameraSize" value="0.1"/>
    <xacro:property name="cameraMass" value="0.1"/>

    <xacro:macro name="nautilus_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">
        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>1</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${nautilus_volume}</volume>

        <!-- Link's bounding box, it is used to recalculate the immersed
        volume when close to the surface.
        This is a workaround the invalid bounding box given by Gazebo-->
        <box>
          <width>${nautilus_width}</width>
          <length>${nautilus_length}</length>
          <height>${nautilus_height}</height>
        </box>

        <!-- Center of buoyancy -->
        <center_of_buoyancy>${nautilus_cob}</center_of_buoyancy>

        <!--
        Choose one of the hydrodynamic models below, all are based on
        Fossen's equation of motion for underwater vehicles

        Reference:
        [1] Fossen, Thor I. Handbook of marine craft hydrodynamics and motion
            control. John Wiley & Sons, 2011.
        -->
        <!-- 2) This computes the added-mass and damping parameters for a sphere
        in the fluid with the given radius -->
        <hydrodynamic_model>
          <type>sphere</type>
          <radius>0.19</radius>
        </hydrodynamic_model>

      </link>
    </xacro:macro>

</robot>
